._26xy{bottom:0;color:#fff;left:-112px;padding:4px;position:absolute;text-shadow:0 0 2px rgba(0, 0, 0, .3)}._26xy ._26yl{font-size:16px;-webkit-font-smoothing:antialiased;font-weight:700;line-height:20px;overflow:hidden;padding-bottom:4px;text-overflow:ellipsis;white-space:nowrap;width:300px}._26xy ._26yl a{color:#fff}._26xy ._26ym{font-size:12px;line-height:16px;width:350px}._26xy ._26ym a{color:#fff}._5zgi{padding:4px 0 0 0;width:350px;word-wrap:break-word}
.HovercardSimple .stage{min-width:0}div.MediaTagHovercardStage{min-width:0}div.fbPhotoTagVisualCuesAction{margin-left:2px}div.fbPhotoTagVisualCuesAction .fbPhotoTagHovercardAttribution{margin-left:3px}
._4o-e a{z-index:1}._4o-d,._4o-e a{position:relative;word-break:break-word}._2p4n{color:#4b4f56}._4o-g:hover{background-color:#f5f6f7;text-decoration:none}html ._4o-d ._4o-f{bottom:0;cursor:pointer;left:0;position:absolute;right:0;top:0;z-index:0}
._19hh{margin-left:2px;padding-top:8px}
.sp__PMu4nNUJq8{background-image:url(/rsrc.php/v3/yy/r/PAT1T7k-wW8.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp__PMu4nNUJq8.sx_3404cb{background-position:0 0}.sp__PMu4nNUJq8.sx_d0e546{background-position:0 -17px}.sp__PMu4nNUJq8.sx_35a3d6{background-position:0 -34px}.sp__PMu4nNUJq8.sx_71d830{width:12px;height:12px;background-position:0 -78px}.sp__PMu4nNUJq8.sx_69ee13{background-position:0 -51px}.sp__PMu4nNUJq8.sx_91ec89{width:12px;height:12px;background-position:0 -91px}.sp__PMu4nNUJq8.sx_c03630{height:9px;background-position:0 -68px}

#bootloader_JqaV4{height:42px;}.bootloader_JqaV4{display:block!important;}