._56hv,._56hy{display:none}
._3xd6 ._4qeb{border-radius:none}._3xd6 ._3xdb{padding-top:9px}._3xd6 ._3xd8{margin-right:8px;position:relative}._3xd6 ._3xd8 .img{opacity:.4}._3xd6 ._2z2m{background-color:#f03d25;border-radius:6px;height:12px;position:absolute;right:5px;top:10px;width:12px}._16bi{padding:13px 0}._16bh{color:rgba(153, 153, 153, 1);font-size:13px;line-height:1.4;text-align:center}
._6pdg{color:inherit;display:flex;margin-bottom:4px;margin-top:4px}._6pdg:hover{text-decoration:inherit}._6ng3{flex:0 0 auto;height:16px;margin-right:12px;vertical-align:top;width:16px}._6ng4{font-size:13px}._6ngn{font-weight:400}._6ng7{color:#90949c;display:block;font-size:11px;font-weight:400}
._32hm{padding-bottom:0}._3q7s{display:block;margin:12px auto;text-align:center}
._fyy{background-color:#f5f6f7;border-bottom:1px solid #dddfe2;color:#90949c;font-family:Helvetica, Arial, sans-serif;font-size:11px;font-weight:500;padding:5px 12px}._7ghi{padding-bottom:8px;padding-left:16px;padding-top:8px}
._5bov{cursor:pointer;padding:8px}._5bow{height:28px;width:28px}
._56vy{display:none;height:54px}._2xo._56v-{display:none}._5mt2 ._56vw ._56vx{width:205px}._4woj{height:171px}._5pxg{background-image:linear-gradient(to top, #f0f4f9, #f4f6f9);display:block;height:23px;line-height:12px}
.sp_DT5Dc2XTHF6{background-image:url(/rsrc.php/v3/yn/r/nBwytB63Utj.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_DT5Dc2XTHF6.sx_ec9c63{background-position:0 0}.sp_DT5Dc2XTHF6.sx_eaa2e9{background-position:0 -17px}.sp_DT5Dc2XTHF6.sx_810a78{background-position:0 -34px}.sp_DT5Dc2XTHF6.sx_cb1c3a{background-position:0 -51px}.sp_DT5Dc2XTHF6.sx_75fab6{background-position:0 -68px}.sp_DT5Dc2XTHF6.sx_c0fc32{background-position:0 -85px}

#bootloader_J1HnW{height:42px;}.bootloader_J1HnW{display:block!important;}