._5n3a ._5k45{padding-top:15px}
.sp_TAYFfKAemuP{background-image:url(/rsrc.php/v3/yi/r/u-kk5y0iZXJ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_TAYFfKAemuP.sx_2e7872{width:12px;height:12px;background-position:0 -84px}.sp_TAYFfKAemuP.sx_9257bf{width:12px;height:12px;background-position:0 -97px}.sp_TAYFfKAemuP.sx_d29272{background-position:0 0}.sp_TAYFfKAemuP.sx_9b82dd{background-position:0 -21px}.sp_TAYFfKAemuP.sx_129854{background-position:0 -42px}.sp_TAYFfKAemuP.sx_f39cd4{background-position:0 -63px}

#bootloader_f71TQ{height:42px;}.bootloader_f71TQ{display:block!important;}